# Lists

In [2]:
# Q1. Create a list of 5 random numbers and print the list

import random
random_list = [random.randint(1,50) for _ in range(5)]
print("List of random numbers:",random_list)

List of random numbers: [36, 11, 17, 33, 29]

In [3]:
# Q2. Insert 3 new values to the list and print the updated list

random_list = [random.randint(1,50) for _ in range(5)]
random_list.extend([105,126,166])
print("Updated list:",random_list)

Updated list: [30, 46, 32, 4, 3, 105, 126, 166]

In [4]:
# Q3. Use a for loop to print each element in the list

for num in random_list:
    print(num)

30
46
32
4
3
105
126
166

# Dictionary

In [5]:
# Q1. Create a dictionary with given keys and values

person_details = {'name' : 'John', 'age' : 25, 'address' : 'New york'}
print("Dictionary:",person_details)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New york'}

In [6]:
# Q2. Add a new key value pair to created dictionary

person_details['phone'] = '1234567890'
print("Updated dictionary:" ,person_details)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New york', 'phone': '1234567890'}

# Set

In [7]:
# Q1. Create a set with values 1,2,3,4, and 5

numbers_set = {1, 2, 3, 4, 5}
print("Set:", numbers_set)

Set: {1, 2, 3, 4, 5}

In [8]:
# Q2. Add the value 6 to the created set

numbers_set.add(6)
print("Updated Set:", numbers_set)

Updated Set: {1, 2, 3, 4, 5, 6}

In [9]:
# Q3. Remove the value 3 from the set created

numbers_set.remove(3)
print("Set after removing:", numbers_set)

Set after removing: {1, 2, 4, 5, 6}

# Tuple

In [10]:
# Q1. Create tuple with values 1,2,3, and 4

numbers_tuple = (1, 2, 3, 4)
print("Tuple:", numbers_tuple)

Tuple: (1, 2, 3, 4)

In [11]:
# Q2. print the length of tuple created

print("Lenght of Tuple:",len(numbers_tuple))

Lenght of Tuple: 4