# Exercise 1

In [86]:
# Reads an integer value between 1 and 12 from the user and prints output the corresponding month of the year.

months = { 1: "January", 2: "February", 3: "March", 4: "April", 5:"May", 6: "June", 
          7: "July", 8: "August", 9: "September", 10: "October", 11: "November", 12: "December"}

month_number = int(input("Enter the Month number:"))

if 1<= month_number <=12:
    print(f"month {month_number} is {months[month_number]}")
    
else:
    print("Invalid Month Number !!, please enter between 1 to 12.")

Enter the Month number: 3

month 3 is March

# Exercise 2

In [88]:
# Calculating the Ticket price based on age, full price is 6 pounds, who are less than 16 years half price and third of the price for people who are 60 years old or more

def calculate_ticket_price(age):
    
    full_price = 6 
    
    if age < 16:
        return full_price / 2       
    elif age >= 60:
        return full_price / 3        
    else:
        return full_price
        
age = int(input("Enter your age"))

if age < 1:
    print("Invalid age !!, Age cannot be less than 1 please enter a valid age.")

else :
    ticket_price = calculate_ticket_price(age)
    print(f"Your ticket costs £{ticket_price}")

Enter your age 63

Your ticket costs £2.0

# Exercise 3

In [90]:
# Calculating BMI and give weight status

def calculating_bmi(weight,height):
    return weight / (height ** 2)

def bmi_status(bmi):

    if bmi < 18.5:
        return "UnderWeight"
    elif 18.5 <= bmi <= 24.9:
        return "Normal"
    elif 25 <= bmi <= 29.9:
        return "OverWeight"
    else:
        return "Obese"

weight = float(input("Enter your weight in (Kg): "))
height = float(input("Enter your height in (m): "))

bmi = calculating_bmi(weight,height)

print(f"Your BMI is: {bmi:.2f}")

status = bmi_status(bmi)


print(f"You are in the “{status}” range.")

Enter your weight in (Kg):  75
Enter your height in (m):  1.70

Your BMI is: 25.95
You are in the “OverWeight” range.

# Exercise 4

In [59]:
# print the greatest number from the user entered 3 numbers

def greatest_number (num1,num2,num3):
    
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else: 
        return num3

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number:"))
num3 = float(input("Enter the third number: "))

greatest = greatest_number (num1,num2,num3)
print(f"The greatest number is: {greatest:.0f}")

Enter the first number:  56
Enter the second number: 80
Enter the third number:  45

The greatest number is: 80

# Excercise 5

In [68]:
# Factorial of a given number using loops

num = int(input("Enter a number to find its factorial: "))

factorial = 1
for i in range(1, num + 1):
    factorial *= i

print(f"The factorial of {num} is: {factorial}")

Enter a number to find its factorial:  5

The factorial of 5 is: 120

# Excercise 6

In [71]:
# Reverse a number using while loop

num = int(input("Enter a number: "))

reversed_num = 0
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print(f"The reversed number is: {reversed_num}")

Enter a number:  123456

The reversed number is: 654321

# Excercise 7

In [74]:
# Finding the multiple of a number using loop

num = int(input("Enter a number: "))
limit = int(input("Enter the limit: "))


print(f"The multiples of {num} up to {limit} are:")
for i in range(1, limit + 1):
    multiple = num * i
    if multiple <= limit:
        print(multiple)

Enter a number:  10
Enter the limit:  50

The multiples of 10 up to 50 are:
10
20
30
40
50

# Excercise 8

In [77]:
# Print the inputted value as it is and break the loop if the value is "done"

while True:
  
    user_input = input("Enter a value: ")

    if user_input.lower() == 'done':
        print("Done")
        break

Enter a value:  hello there
Enter a value:  finished
Enter a value:  done

Done

# Excercise 9

In [80]:
# prints the numbers from 1 to 10. But for multiples of three print "Fizz" instead of the number and for the multiple of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz"

for i in range(1, 11):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

# Excercise 10

In [84]:
# pattern printing

for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1