In [1]:
#1. print name, student number and email address

print('Name:','NITHIN RAJ')
print('Student_number:','ST1001')
print('Email:','nithinraj@gmail.com')

Name: NITHIN RAJ
Student_number: ST1001
Email: nithinraj@gmail.com

In [2]:
#2. print  name, student number and email address using escape sequences

print("Nithin Raj\nST1001\nnithinraj@gmail.com")

Nithin Raj
ST1001
nithinraj@gmail.com

In [1]:
#3. add, subtract, multiply and divide the two numbers

num1 = 14
num2 = 7
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} * {num2} = {num1 * num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} / {num2} = {num1 / num2}")

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

In [2]:
#4. print the numbers from 1 to 5 range

for i in range (1,6):
    print(i)

1
2
3
4
5

In [3]:
#5. Using print function with quotation mark and line breaks

print ('"SDK" stands for "Software Development Kit", whereas\n"IDE" stands for "Integrated Development Environment".')

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [4]:
#6. Practice and check the outputs

print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri. \b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entr2023
Entri*20

In [5]:
#7. print the type of each variable

num = 23
textum = "57"
decimal = 98.3

print("Type of num:",type(num))
print("Type of textum:",type(textum))
print("Type of decimal:",type(decimal))

Type of num: <class 'int'>
Type of textum: <class 'str'>
Type of decimal: <class 'float'>

In [6]:
# Sum of varibales
total = num + int(textum) + decimal
print(f"sum of variables: {total}")
print(f"Type of total: {type(total)}")

sum of variables: 178.3
Type of total: <class 'float'>

In [7]:
#8. calculate number of minutes in a year 

days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

total_minutes = days_in_year * hours_in_day * minutes_in_hour
print(f"Total number of minutes in a year: {total_minutes}")

Total number of minutes in a year: 525600

In [ ]:
#9. Ask user for their name and greet them

name = input("Please enter your name")
print(f"Hi {name}, Welcome to python programming :)")

In [ ]:
#10. Converting pounds to dollars

Exchange_Rate = 1.27
pounds = float(input("Please enter the amount in pounds:"))
dollars = pounds * Exchange_Rate
print(f"£{pounds} are ${dollars}")

Please enter the amount in pounds: 50

£50.0 are $63.5